<div class="container">
  <div class="row">
    <div class="col">
      <kendo-label text="Date: ">({{date}})<br>
      <kendo-slider #slider [tickPlacement]="tickPlacement"
                    [style.width]="'95%'"
                    [min]="min"
                    [max]="max"
                    [smallStep]="smallStep"
                    [value]="value"
                    [(ngModel)]="value"
                    (valueChange)="valueChange($event)"></kendo-slider>
                  </kendo-label>
    </div>
    <div class="col">
      <p style="margin:0">&nbsp; </p>
      <kendo-combobox 
          [data]="listItems" 
          [style.width]="'80%'"
          (valueChange)="selectedMetricChange($event)"
          [clearButton] = "false"
          [(ngModel)]="metric"
          [filterable] = "true">
      </kendo-combobox>
    </div>
    <div class="col">&nbsp;</div>
  </div>
</div>

