<div class="container">
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <kendo-label text="Date:"class="float-right">&nbsp;
      <kendo-slider #slider [tickPlacement]="tickPlacement"
                    [min]="min"
                    [max]="max"
                    [smallStep]="smallStep"
                    [value]="value"
                    [(ngModel)]="value"
                    (valueChange)="valueChange($event)"></kendo-slider>
                  </kendo-label>
    </div>
    <div class="col-md-3">
      <p></p>
      <kendo-combobox 
          [data]="listItems" 
          (valueChange)="selectedMetricChange($event)"
          [(ngModel)]="metric"
          [filterable] = "true">
      </kendo-combobox>
    </div>
    
    <div class="col-md-6"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <svg>
      </svg>
    </div>
  </div>
</div>

