<div class="container">
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <kendo-label text="Date:"class="float-right">&nbsp;
      <kendo-slider #slider [tickPlacement]="tickPlacement"
                    [min]="min"
                    [max]="max"
                    [smallStep]="smallStep"
                    (valueChange)="valueChange($event)"></kendo-slider>
                  </kendo-label>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-6"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <svg>
      </svg>
    </div>
  </div>
</div>

