<div class="popup-overlay" id="overlay">
  <!--Creates the popup content-->
  <div class="popup-content" id="content">
    <img src="../../assets/images/info.jpg" style="width:70%;">
    <button kendoButton [icon]="'close k-icon-30'" (click)="closeInfo()" style="position: absolute; bottom: 0; right: 0; height: 10%; width:15%;"> Close </button>
  </div>
</div>
<div class="card-container">
  <div class="mouseBlock" id="hallo"></div>
  <div class="row">
    <div class="col-md-8 nopadding">
      <kendo-card class="kendo-card" style="min-width:1000px">
        <kendo-card-body>
          <div></div>
          <div class="card-title"><h4>{{metric}} in the United States - {{unitedStatesMap.date }}</h4></div>
          <app-unitedstates-map (dateChanged)="dateChanged($event)" #unitedStatesMap></app-unitedstates-map>
        </kendo-card-body>
      </kendo-card>
    </div>
    <div class="col-md-4">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <kendo-card class="kendo-card" style="min-width:500px">
              <kendo-card-body>
                <div class="card-title"><h4>Status</h4></div>
                <app-metric-summary #metricSummary></app-metric-summary>
              </kendo-card-body>
            </kendo-card>
          </div>
        </div>
      </div>
      <button kendoButton [icon]="'information k-icon-30'" (click)="openInfo()" style="position: absolute; bottom: 0; right: 0; height: 10%; width:15%;"></button>
    </div>
  </div>
  <div class="row">
    <div class="webchat-container" id="botWin" #botWindow></div>
  </div>
</div>

